/* TaskForm.css */

form {
    margin-top: 20px;
    display: flex;
  }
  
  input {
    padding: 8px;
    flex-grow: 1;
    margin-right: 8px;
  }
  
  button {
    padding: 8px;
    cursor: pointer;
  }
  